@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrer bekræftelse";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Venligst tjek din e-mail for at bekræfte din konto.
</p>
    }
    else
    {
<p>
        Venligst tjek din e-mail for at bekræfte din konto.
</p>
    }
}

