@page
@model HandelsHjornet.Pages.AdPages.CreateAdModel
@{
}

<style>
    .white-container {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
    }
</style>

<div class="white-background">
    <div class="">
        <form method="post">
            <div>
                <p>Vælg Kategori</p>
                <select name="category" class="form-control">
                    <option value="IndoorPlant">Indedørs Planter</option>
                    <option value="OutdoorPlant">Udendørs Planter</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Vælg</button>
            </div>
        </form>
    </div>

        <div>
            <form method="post" enctype="multipart/form-data">

                <div>
                    @if (Model.Category != null)
                    {
                        <div class="form-group">
                            <label asp-for="@Model.Photo" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="@Model.Photo" class="custom-file-input form-control" />
                                <span asp-validation-for="@Model.Photo" class="text-danger"></span>
                            </div>
                        </div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    }
                </div>
                <br />
            @if (Model.Category == null)
            {
                <br />
                <h3>Vælg en kategori for at oprette en annonce</h3>
                <br />

            }


            @if(Model.Category == "IndoorPlant")
            {

                <div class="form-group">
                    <label asp-for="IndoorPlantAd.Price" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.Price" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlantAd.Species" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.Species" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.Species" class="text-danger"></span>
                </div>
            }
            else if(Model.Category == "OutdoorPlant")
            {
                <div class="form-group">
                    <label asp-for="OutdoorPlantAd.Price" class="control-label"></label>
                    <input asp-for="OutdoorPlantAd.Price" class="form-control" />
                    <span asp-validation-for="OutdoorPlantAd.Price" class="text-danger"></span>
                </div>
            }


                <br />
                @if (!string.IsNullOrEmpty(Model.Category))
                {
                    <h3>Kontaktoplysninger</h3>
                    <div>
                        <div class="form-group">
                            <label asp-for="Seller.Email" class="control-label"></label>
                            <input asp-for="Seller.Email" class="form-control" />
                            <span asp-validation-for="Seller.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.Address" class="control-label"></label>
                            <input asp-for="Seller.Address" class="form-control" />
                            <span asp-validation-for="Seller.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.Phone" class="control-label"></label>
                            <input asp-for="Seller.Phone" class="form-control" />
                            <span asp-validation-for="Seller.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.ZipCode" class="control-label"></label>
                            <input asp-for="Seller.ZipCode" class="form-control" />
                            <span asp-validation-for="Seller.ZipCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seller.City" class="control-label"></label>
                            <input asp-for="Seller.City" class="form-control" />
                            <span asp-validation-for="Seller.City" class="text-danger"></span>
                        </div>
                    </div>


                    <div>
                        <button class="btn btn-primary" type="submit" asp-page-handler="Create" asp-route-category="@Model.Category">Lav</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>