@page
@using HandelsRaketten.Models.AdModels.SubCategories.Plants
@model HandelsHjornet.Pages.AdPages.EditAdModel
@{
}

<div class="white-background">
    <form method="post" enctype="multipart/form-data">
        <div>
            @if (Model.SubCategory == Model.IndoorPlantAd.Discriminator)
            {
                <div class="form-group">
                    <label asp-for="IndoorPlantAd.AdImage" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="IndoorPlantAd.AdImage" class="custom-file-input form-control" />
                        <span asp-validation-for="IndoorPlantAd.AdImage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="IndoorPlantAd.Title" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.Title" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlantAd.Description" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.Description" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlantAd.Price" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.Price" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlantAd.Species" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.Species" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.Species" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlantAd.PotSize" class="control-label"></label>
                    <input asp-for="IndoorPlantAd.PotSize" class="form-control" />
                    <span asp-validation-for="IndoorPlantAd.PotSize" class="text-danger"></span>
                </div>
            }

            else if(Model.SubCategory == Model.OutdoorPlantAd.Discriminator)
            {
                
            }

        </div>
        <br />

        <div>
            <button class="btn btn-primary" type="submit">Gem</button>
        </div>

    </form>

</div>