@page
@model HandelsHjornet.Pages.AdPages.EditAdModel
@{
}

<div class="white-background">
    <form method="post">
        <div>
            @if (Model.Category == "IndoorPlant")
            {
                <div class="form-group">
                    <label asp-for="IndoorPlant.AdImage" class="control-label"></label>
                    <input asp-for="IndoorPlant.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlant.Title" class="control-label"></label>
                    <input asp-for="IndoorPlant.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlant.Description" class="control-label"></label>
                    <input asp-for="IndoorPlant.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlant.Price" class="control-label"></label>
                    <input asp-for="IndoorPlant.Price" class="form-control" />
                </div>


            }
            else if (Model.Category == "OutdoorPlant")
            {
                <div class="form-group">
                    <label asp-for="OutdoorPlant.AdImage" class="control-label"></label>
                    <input asp-for="OutdoorPlant.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="OutdoorPlant.Title" class="control-label"></label>
                    <input asp-for="OutdoorPlant.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="OutdoorPlant.Description" class="control-label"></label>
                    <input asp-for="OutdoorPlant.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="OutdoorPlant.Price" class="control-label"></label>
                    <input asp-for="OutdoorPlant.Price" class="form-control" />
                </div>
            }
            else if (Model.Category == "Soil")
            {
                <div class="form-group">
                    <label asp-for="Soil.AdImage" class="control-label"></label>
                    <input asp-for="Soil.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Soil.Title" class="control-label"></label>
                    <input asp-for="Soil.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Soil.Description" class="control-label"></label>
                    <input asp-for="Soil.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Soil.Price" class="control-label"></label>
                    <input asp-for="Soil.Price" class="form-control" />
                </div>

            }
            else if (Model.Category == "Fertilizer")
            {
                <div class="form-group">
                    <label asp-for="Fertilizer.AdImage" class="control-label"></label>
                    <input asp-for="Fertilizer.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Fertilizer.Title" class="control-label"></label>
                    <input asp-for="Fertilizer.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Fertilizer.Description" class="control-label"></label>
                    <input asp-for="Fertilizer.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Fertilizer.Price" class="control-label"></label>
                    <input asp-for="Fertilizer.Price" class="form-control" />
                </div>

            }
            else if (Model.Category == "GardeningTool")
            {
                <div class="form-group">
                    <label asp-for="GardeningTool.AdImage" class="control-label"></label>
                    <input asp-for="GardeningTool.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GardeningTool.Title" class="control-label"></label>
                    <input asp-for="GardeningTool.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GardeningTool.Description" class="control-label"></label>
                    <input asp-for="GardeningTool.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GardeningTool.Price" class="control-label"></label>
                    <input asp-for="GardeningTool.Price" class="form-control" />
                </div>

            }
            else if (Model.Category == "Tool")
            {
                <div class="form-group">
                    <label asp-for="Tool.AdImage" class="control-label"></label>
                    <input asp-for="Tool.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Tool.Title" class="control-label"></label>
                    <input asp-for="Tool.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Tool.Description" class="control-label"></label>
                    <input asp-for="Tool.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Tool.Price" class="control-label"></label>
                    <input asp-for="Tool.Price" class="form-control" />
                </div>

            }
        </div>
        <br />
        @if (!string.IsNullOrEmpty(Model.Category))
        {
            <div>
                <button class="btn btn-primary" type="submit" asp-route-adId="@Model.AdId" asp-route-category="@Model.Category">Gem</button>
            </div>
        }
    </form>

</div>