@page
@model HandelsHjornet.Pages.AdPages.EditAdModel
@{
}

<div class="white-background">
    <form method="post">
        <div>


        </div>
        <br />
        @if (!string.IsNullOrEmpty(Model.Category))
        {
            <div>
                <button class="btn btn-primary" type="submit" asp-route-adId="@Model.AdId" asp-route-category="@Model.Category">Gem</button>
            </div>
        }
    </form>

</div>