@page
@model HandelsHjornet.Pages.AdPages.EditAdModel
@{
}

<div class="white-background">
    <form method="post">
        <div>
            @if (Model.Category == "IndoorPlant")
            {
                <div class="form-group">
                    <label asp-for="IndoorPlant.AdImage" class="control-label"></label>
                    <input asp-for="IndoorPlant.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlant.Title" class="control-label"></label>
                    <input asp-for="IndoorPlant.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlant.Description" class="control-label"></label>
                    <input asp-for="IndoorPlant.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IndoorPlant.Price" class="control-label"></label>
                    <input asp-for="IndoorPlant.Price" class="form-control" />
                </div>


            }
            else if (Model.Category == "OutdoorPlant")
            {
                <div class="form-group">
                    <label asp-for="OutdoorPlant.AdImage" class="control-label"></label>
                    <input asp-for="OutdoorPlant.AdImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="OutdoorPlant.Title" class="control-label"></label>
                    <input asp-for="OutdoorPlant.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="OutdoorPlant.Description" class="control-label"></label>
                    <input asp-for="OutdoorPlant.Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="OutdoorPlant.Price" class="control-label"></label>
                    <input asp-for="OutdoorPlant.Price" class="form-control" />
                </div>
            }

        </div>
        <br />
        @if (!string.IsNullOrEmpty(Model.Category))
        {
            <div>
                <button class="btn btn-primary" type="submit" asp-route-adId="@Model.AdId" asp-route-category="@Model.Category">Gem</button>
            </div>
        }
    </form>

</div>